@import "tailwindcss";

html,
body,
#root{
margin:0;
padding:0;
background:#020617;
font-family:Inter,sans-serif;
color:white;
overflow-x:hidden;
}

*{
box-sizing:border-box;
}

.glass{
background:rgba(255,255,255,.05);
backdrop-filter:blur(25px);
border:1px solid rgba(255,255,255,.08);
}

body{

background:

radial-gradient(circle at top left,#2563eb22,transparent 30%),

radial-gradient(circle at bottom right,#06b6d422,transparent 35%),

#020617;

}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{

background:#2563eb;

border-radius:20px;

}

.glow{

box-shadow:

0 0 80px rgba(59,130,246,.2);

}

button{

cursor:pointer;

transition:.35s;

}

button:hover{

transform:translateY(-2px);

}

img{

user-select:none;

}